<!DOCTYPE html>

<html>

<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  {% if template == 'index' %}
  <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}
  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  
  {% include 'open-graph' %}
  {% include 'twitter-card' %}
  
  <link rel="canonical" href="{{ canonical_url }}" />
  <link rel="author" href="{{ 'humans.txt' | asset_url }}" type="text/plain"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow" />
  
  <!-- Realfavicon Generator -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ 'apple-touch-icon-57x57.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ 'apple-touch-icon-114x114.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ 'apple-touch-icon-72x72.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ 'apple-touch-icon-144x144.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ 'apple-touch-icon-60x60.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ 'apple-touch-icon-120x120.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ 'apple-touch-icon-76x76.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ 'apple-touch-icon-152x152.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon-180x180.png' | asset_url }}">
  <link rel="icon" type="image/png" href="{{ 'favicon-96x96.png' | asset_url }}" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ 'favicon-16x16.png' | asset_url }}" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ 'favicon-32x32.png' | asset_url }}" sizes="32x32">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="{{ 'mstile-144x144.png' | asset_url }}">
  
  {{ content_for_header }}
  
  {{ 'screen.css' | asset_url | stylesheet_tag }}
  
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% if template contains 'customers' %}  
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  
</head>

<body id="{{ page_title | handle }}" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  
<header>
	
	<h1>{{ shop.name }}</h1>
	<a href="/"><img src="{{ 'logo.jpg' | asset_url }}" alt="{{ shop.name }}" class="logo" /></a>
	
	<nav class="mainNav">    
		<ul>
			{% for link in linklists.main-nav.links %}
			<li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
			{% endfor %}
		</ul>  
	</nav>    
    
  	{% if shop.customer_accounts_enabled %}
  	<div class="login">
    	{% if customer  %}
        	<a href="/account">Your Account</a>
		{% else %}
        	{{ 'Log in' | customer_login_link }}
			{% if shop.customer_accounts_optional %}
			{% endif %}
		{% endif %}
  	</div>
	{% endif %}
	
	<div class="searchbox">
		<form action="/search">          
			<label for="search_term" class="searchlabel">Search</label>
			<input type="text" name="q" id="search_term" class="search_box" placeholder="Search" value="{{ search.terms }}" />            	       
		</form>      
	</div>
	
	<div class="cartview">
    	<a href="/cart">Shopping Bag <span>{{ cart.item_count }}</span></a>        
    </div>
    	
</header>

<main>

{{ content_for_layout }}

</main>

<footer>
	
</footer>

{{ 'script-min.js' | asset_url | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}

  
</body>
</html>